<?xml version="1.0"?>
<config>
    <modules>
        <Magneto_S3>
            <version>0.1.0</version>
        </Magneto_S3>
    </modules>
    <default>
    	<system>
    		<media_storage_configuration>
    			<allowed_resources>
    				<temporary_upload_folder>tmp/</temporary_upload_folder>
    			</allowed_resources>
    		</media_storage_configuration>
    	</system>
    </default>
    <frontend>
    </frontend>
    <global>
        <models>
        	<s3>
                <class>Magneto_S3_Model</class>
            </s3>
         	<core>
        		<rewrite>
        			<file_storage_database>Magneto_S3_Model_File_Storage_S3</file_storage_database>
        		</rewrite>
        		<rewrite>
        			<file_storage_directory_database>Magneto_S3_Model_File_Storage_Directory_S3</file_storage_directory_database>
        		</rewrite>
        		<rewrite>
        			<store>Magneto_S3_Model_Store</store>
        		</rewrite>
        	</core>
        </models>
        <resources>
        </resources>
        <blocks>
        </blocks>
        <helpers>
        	<core>
	        	<rewrite>
	        		<file_storage_database>Magneto_S3_Helper_File_Storage_Database</file_storage_database>
	        	</rewrite>
        	</core>
            <s3>
                <class>Magneto_S3_Helper</class>
            </s3>
        </helpers>
    </global>
</config>